@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    z-index: 9999999;
    width: 100%;
    top: 0;
    height: 150px;
    transition: 0.6s;
    padding: 32px 100px;
    background-color: #744533;
  }

nav.sticky{
    padding: 5px 100px;
    background-color: #8b6554;
    height: 10vh;
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 50px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;   
}

.wrapper .logo img{
  height: 350px;
  width: 250px;
}

.wrapper .nav-links{
    display: inline-flex;
}

.nav-links li{
    list-style: none;
    color: #f2f2f2;
}

.nav-links li a{
    color: #f2f2f2;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover{
    background-color: #ded1bd;
    color: #3A3B3C;
}

.nav-links .mobile-item{
    display: none;
}

.nav-links .drop-menu{
    position: absolute;
    background-color: #f3e7d6;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
  color: #121131;
}

.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content{
  background-color: #f3e7d6;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header{
  color: #121113;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}

.row .mega-links li{
  padding: 0 20px;
}

.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #121113;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover{
  color: #222725;
}

.wrapper .btn{
  color: #eeeeee;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
  
@media screen and (max-width: 1040px) {
    .wrapper .btn{
      display: block;
    }

    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }


    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }

    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }

    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }

    .nav-links li{
      margin: 15px 10px;
    }

    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }

    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }

    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }

    .nav-links .desktop-item{
      display: none;
    }

    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover{
      background: #3A3B3C;
    }

    .drop-menu li{
      margin: 0;
    }

    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }

    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }

    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }

    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }

    .row .mega-links li{
      margin: 0;
    }

    .content .row header{
      font-size: 19px;
    }
}

nav input{
    display: none;
}

.fa-shopping-cart{
  color: #EFF6E0;
  font-size: 1.7em;
  position: relative;
  left: 99%;
  top: -65px;
  cursor: pointer;
  z-index: 9999999;
}

.cartAmount{
  width: 20px;
  height: 20px;
  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  left: 102%;
  top: -110px;
  transition: 0.3s ease;
  opacity: 0;
  z-index: 9999999;
}

.cartAmount.revealed{
  opacity: 1;
}

.cartNumber{
  position: absolute;
  left: 6px;
  top: -2px;
}

.bag{
  position: fixed;
  background-color: #ded1bd;
  overflow-y: scroll;
  width: 300px;
  height: 0px;
  transition: 0.3s;
  z-index: 9999999;
  right: 2vw;
  top: 11vh;
  display: flex;
  flex-direction: column;
}

.bag.visible{
  height: 300px;

}

.fa-shopping-cart:hover ~ .bag{
  height: 330px;
}

.bag:hover{
  height: 330px;
}

.bag-list{
  position: relative;
  width: 90%;
  background-color: hotpink;
  margin: 10px;
}

.bagImg{
  width: 50%;
  height: 100%;
  padding: 15px;
}

.bagDes{
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  right: 0;
  top: 0;
  padding: 30px 35px 0 0;
}

.item-number-bag{
  position: absolute;
  width: 45px;
  height: 25px;
}

.checkout{
  background-color: black;
  color: white;
  border: none;
  margin: 10px;
}

.view-bag{
  background-color: white;
  color: black;
  border: none;
  margin: 0 10px 10px 10px;
}

.checkout:focus, .view-bag:focus{
  outline: none;
}

.checkout:active, .view-bag:active{
  transform: scale(0.99);
}

.fa-shopping-cart:hover + .bag{
  background-color: tomato;
}

.product{
    position: absolute;
    width: 45vw;
    height: 65vh;
    top: 30vh;
    margin: 0 3vw;
    object-fit: cover;
}

.copperKettle{
  display: none;
}

.productAside{
    position: absolute;
    width: 45vw;
    height: 85vh;
    background-color: #d4c9b7;
    overflow-y: scroll;
    right: 0;
    top: 22vh;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 0 3vw;
}

@media (max-width: 950px){
  .productAside{
    top: 88vh;
    width: 80vw;
  }

  .product{
    width: 85vw;
    margin: 0 12vw;
}
}

.productAside::-webkit-scrollbar {
  display: none;
}

.productHeaders{
  padding: 12px 25px;
  font-size: 2em;
  font-weight: 550;
}

.productSubHeaders{
  padding: 12px 25px;
}

.ratingContainer{
  padding: 12px 25px;
}

.rating.checked{
  color: #ff9800;
}

.reviewSubHeader{
  padding: 0 25px;
}

.colour-container{
  margin: 12px 25px;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.colour-container >div{
  width: 20%;
  height: 100%;
}

.colour-container >div:hover{
  /* border: 1px solid #3A3B3C; */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.1); */
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.colour-container >div img{
  border-radius: 10px;
}

.colourWord-container{
  margin: 12px 25px;
  width: 400px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.colourWord-container >div{
  width: 20%;
  height: 100%;
  padding-left: 8px;
  font-weight: bold;
}

#quantity{
  margin: 12px 25px;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 1px 3px rgba(0,0,0,0.18);
}

#quantity:focus{
  outline: 0;
  border: 0;
}

#quantity:active{
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.1);
}

.addCartBtn{
  margin: 12px 15px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 1px 3px rgba(0,0,0,0.18);
}

.addCartBtn:focus{
  outline: 0;
  border: 0;
}

.addCartBtn:active{
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.1);
}

.features{
  width: 80%;
  height: 100px;
  margin: 12px 25px;
  background-color: #F6F2F2;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features img{
  height: 70%;
  
}

.featureHead{
  position: absolute;
  height: 25px;
  padding: 5px 25px;
} 

.fa-chevron-down{
  position: absolute;
  right: 15%;
  padding: 12px 25px;
  transition: 0.3s ease;
  cursor: pointer;
}

.fa-chevron-down.rotate{
  transition: 0.3s ease;
  transform: rotate(180deg);
}

.featureDescription{
  padding: 1px 25px;
  background-color: #f2f2f2;
  width: 80%;
  height: 2px;
  margin: 32px 25px;
  border-radius: 4px;
  border-top: 3px solid black;
  transition: 1s ease;
}

.featureDescription.active{
  height: 260px;
}

.Des-list{
  transition: 0.3s ease;
  opacity: 0;
  height: 0;
}

.Des-list.active{
  transform: translateY(10px);
  opacity: 1;
  transition: 1s ease;
  height: 250px;
}

.Des-list li{
  font-size: clamp(0.7em, 2vw, 1em);
}

.weightHead{
  position: absolute;
  /* width: 80px; */
  height: 25px;
  padding: 5px 25px;
} 

.weightDescription{
  padding: 1px 25px;
  background-color: #f2f2f2;
  width: 80%;
  height: 2px;
  margin: 62px 25px;
  border-radius: 4px;
  border-top: 3px solid black;
  transition: 1s ease;
}

.weightDescription.active{
  height: 120px;
}

table{
  border-collapse: collapse;
  width: 100%;
  transition: 0.6s ease;
  opacity: 0;
  height: 0;
}

table.active{
  transform: translateY(10px);
  opacity: 1;
  transition: 1s ease;
  height: 90px;
}

td, th{
  border: 1px solid #dddddd;
  text-align: center;
}

th{
  background-color:  #dddddd;
}

td{
  background-color: #eeeeee;
}

.similar{
  position: absolute;
  color: coral;
  font-size: 24px;
  top: 120vh;
  left: 8vw;
  width: 190px;
  height: 20px;
}

.related-container{
  position: relative;
  width: 95vw;
  height: 40vh;
  margin: auto;
  top: 125vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.related-product{
  width: 320px;
  height: 100%;
  margin: 10px;
  background-color: darkred;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s ease;
}

.related-product:hover{
  transform: translateY(-5px);
}

.reviews{
  position: relative;
  top: 145vh;
  width: 90%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.review-ratings{
  width: 400px;
  height: 100%;
  max-height: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s;
  background-color: #fafafa;
}

.review-ratings:hover{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.progressbar-container{
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.progressbar {
  background-color: black;
  width: 100%;
  border-radius: 13px;
  padding: 3px;
}

.progressbar>div {
  background-color: #ff9800;
  width: 76%;
  height: 5px;
  border-radius: 10px;
}

.progressbar:nth-child(2)>div {
  background-color: #ff9800;
  width: 89%;
  height: 5px;
  border-radius: 10px;
}

.progressbar:nth-child(3)>div {
  background-color: #ff9800;
  width: 44%;
  height: 5px;
  border-radius: 10px;
}

.progressbar:nth-child(4)>div {
  background-color: #ff9800;
  width: 23%;
  height: 5px;
  border-radius: 10px;
}

.progressbar:nth-child(5)>div {
  background-color: #ff9800;
  width: 10%;
  height: 5px;
  border-radius: 10px;
}

.customer-reviews{
  width: 700px;
  height: 100%;
  max-height: 300px;
  background-color: #fafafa;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.people{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.people:hover{
  background-color: #f0f0f0;
}

.people h1{
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
}

.people p{
  font-size: 12px;
  width: 250px;
}

.people img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width:1280px){
  .reviews{
    flex-direction: column;
    align-items: center;
    height: 700px;
  }
}

@media (max-width: 1430px){
  .reviews{
    top: 170vh;
  }
}

@media (max-width: 750px){
  .review-ratings{
    width: 300px;
  }

  .customer-reviews{
    width: 400px;
  }
}

@media (max-width:950px){
  .similar{
    color: green;
    top: 175vh;
  }

  .related-container{
    top: 180vh;
  }

  .frequent{
    top: 230vh;
  }

  .brought-container{
    height: 55vh;
    top: 230vh;
  }

  .reviews{
    top: 230vh;
  }
}



@media (max-width: 800px){
  .frequent{
    top: 230vh;
  }

  .brought-container{
    top: 230vh;
    
  }
}



@media (max-width: 675px){
  .brought-together:nth-child(odd){
    display: none;
  }

  .frequent{
    top: 310vh;
  }

  .brought-container{
    top: 310vh;
    height: 42vh;
  }
}

@media (max-width: 465px){
  .brought-container{
    height: 70vh;
  }
}

footer{
  position: absolute;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111111;
  justify-content: space-around;
  flex-wrap: wrap;
  bottom: -230vh;
}

footer .containerFooter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .containerFooter .sec{
  margin-right: 30px;
}

footer .containerFooter .sec.aboutus{
  width: 40%;
}

footer .containerFooter h2{
  position: relative;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .containerFooter h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #fffdd1;
}

footer p{
  color: #999999;
}

.sci{
  margin-top: 20px;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  color: #8b6554;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover{
  background: #f8f0c6;
}

.sci li a .fa{
  color: #ffffff;
  font-size: 20px;
}

.quickLinks{
  position: relative;
  width: 25%;
}

.quickLinks ul li{
  list-style: none;
}

.quickLinks ul li a{
  color: #999999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover{
  color: #ffffff;
}

.contact{
  width: calc(35% - 60px);
  margin-right: 0;
}

.contact .info{
  position: relative;
}

.contact .info li{
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span :nth-child(1){
  color: #ffffff;
  font-size: 20px;
  margin-right: 8px;
}

.contact .info li span{
  color: #ffffff;
}

.contact .info li a{
  color: #ffffff;
  text-decoration: none;
}

.contact .info li a:hover{
  color: #ffffff;
}

.copyrightText{
  position: absolute;
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999999;
  bottom: -234vh;
}

@media (max-width: 950px){

  footer{
      padding: 40px;
      bottom: -370vh;
  }

  footer .containerFooter{
      flex-direction: column;
  }

  footer .containerFooter .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }

  footer .containerFooter .sec.aboutus,.quickLinks,.contact{
      width: 100%;
  }

  .copyrightText{
      padding: 8px 40px;  
      bottom: -370vh;    
  }
}

@media (max-width: 675px){
  footer{
    bottom: -390vh;
  }

  .copyrightText{ 
    bottom: -390vh;    
}
} 

@media (max-width: 465px){
  footer{
    bottom: -410vh;
  }

  .copyrightText{ 
    bottom: -410vh;    
  }
}

@media (max-width: 715px){
  .reviews{
    top: 320vh;
  }

  footer{
    bottom: -475vh;
  }

  .copyrightText{ 
    bottom: -475vh;    
  }
}