*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 9999999999;
    background-color: #f8f0c6;
}

header.sticky{
    padding: 5px 100px;
    background: #fffdd1;
    height: 10vh;
}

header .logo{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    letter-spacing: 2px;margin: 0 15px;
}

header ul li a{
    position: relative;
    text-decoration: none;
    color: #000000;
    transition: 0.6s;
}


header.sticky .logo,
header.sticky ul li a{
    color: #000000;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 999;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

nav ul li a:hover{
    color: #ff5757;
    text-decoration: none;
}

nav ul li a:active{
    color: #ff5757;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: orange;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1045px){

    body{
        overflow-x: hidden;
    }

    

    .nav-links{
        position: absolute;
        right: -100px;
        height: 94vh;
        top: 9vh;
        background-color: #eeeeee;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;

    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.headlineProduct{
    width: 100%;
    height: 500px;
    margin-top: 119px;
    
}

.headlineProduct img{
    width: 50%;
}

.headlineTitle{
    float: right;
    padding: 13vh 5vw 1% 0;
    z-index: 99999999999999999999999;
}

h1{
    font-size: 2em;
    
}

h2{
    font-size: 1em;
    
}

@media screen and (max-width: 930px){
    .headlineTitle{
        display: none;
    } 

    .headlineProduct img{
        width: 100%;
    }
}

@media screen and (max-width: 610px){
    .headlineProduct{
        display: none;
    }
}

.asideHeader{
    font-size: 1.2em;
    padding: 4vh 10vw 2vh 0;
    text-decoration: underline;
    letter-spacing: 1px;
}

.filter{
    position: sticky;
    font-size: 1.4em;
    top: 25%;
    width: 60px;
    left: 4vw;
    cursor: pointer;
    z-index: 99999999999;
}

.aside{
        position: absolute;
        left: 0;
        height: 80vh;
        top: 16vh;
        margin-top: 560px;
        background-color: #f8f0c6;
        opacity: 0.9;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35vw;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        overflow-y: scroll;
        
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: peachpuff;
}

.filter-links li{
    list-style: none;
    line-height: 40px;
    cursor: pointer;
}

.filter-active{
    transform: translateX(0%);
}

.circle1{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

.circle2{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.circle3{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: navy;
    margin: 10px;
    cursor: pointer;
}

.circle4{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: green;
    margin: 10px;
    cursor: pointer;
}

.circle5{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: grey;
    margin: 10px;
    cursor: pointer;
}

.circle6{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: burlywood;
    margin: 10px;
    cursor: pointer;
}

.circle7{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: purple;
    margin: 10px;
    cursor: pointer;
}

.circle8{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: yellow;
    margin: 10px;
    cursor: pointer;
}

.circle9{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: orange;
    margin: 10px;
    cursor: pointer;
} 

.container{
    /* padding-left: 10%; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: repeat(8, 300px);
    grid-gap: 1em;
    /* padding-top: 60px; */
    padding: 60px 2% 0 14%;
}

.container > div{
    border: 1px dashed black;
}

.container > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container > div{
    background-color: peachpuff;
}

.productImages{
    width: 100%;
    height: 75%;
}

@media screen and (max-width: 610px){
    .container{
        padding-top: 175px;
    }

    aside{
        margin-top: 175px;
    }
}

p{
    padding: 2% 0 0 5%;
}

.discount{
    color: red;
    font-size: 0.8em;
}

.colourProductContainer{
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    margin: 4%;
}

.colourProduct1{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: navy;
}

.colourProduct2{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: green;
}
/* FIX */
.colourProductContainer:hover + .productImages{
    background-image: url(../images/editionsDrawer.png);
    border: 5px solid black;
    background: blue;
}
.colourProduct3{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: grey;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111111;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .containerFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .containerFooter .sec{
    margin-right: 30px;
}

footer .containerFooter .sec.aboutus{
    width: 40%;
}

footer .containerFooter h2{
    position: relative;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .containerFooter h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00000;
}

footer p{
    color: #999999;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: #f00000;
}

.sci li a .fa{
    color: #ffffff;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #ffffff;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span :nth-child(1){
    color: #ffffff;
    font-size: 20px;
    margin-right: 8px;
}

.contact .info li span{
    color: #ffffff;
}

.contact .info li a{
    color: #ffffff;
    text-decoration: none;
}

.contact .info li a:hover{
    color: #ffffff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999999;
}

@media (max-width: 991px){

    footer{
        padding: 40px;
    }

    footer .containerFooter{
        flex-direction: column;
    }

    footer .containerFooter .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .containerFooter .sec.aboutus,.quickLinks,.contact{
        width: 100%;
    }

    .copyrightText{
        padding: 8px 40px;      
    }
}